h1{
    text-align: center;
    font-size: 30px;
    color: blue;
   

}

#calculator{
    height: 450px;
    width: 350px;
    border: 1px solid black;
    margin: auto;
    padding: 40px;
    box-shadow:  rgba(0, 0, 0, 0) 0px 5px 15px;
    border-radius: 20px;


}


#display{
    height: 15%;
    max-width: 90;
    border: 1px solid blue;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    text-align: center;
    font-size: 30px;
}

#keyboard{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,40px);
    margin: auto;
    gap: 70px;
    margin-top: 20px;


}


#keyboard>div{
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#keyboard>div:hover{
    color: teal;
    cursor: pointer;
}

.black{
    background-color: black;
    cursor: pointer;
    color: antiquewhite;

}

.red{
    background-color: red;
    cursor: pointer;
}
